<p>general works!</p>


<div class="grid">

  <nav>
    Aqui va el menu

    <a routerLink="/locations"><div class="menu-item">Locations</div></a>
    <a routerLink="/add-new-location"><div class="menu-item">Add new location</div></a>
    <a routerLink="/location-types"><div class="menu-item">Locations Types</div></a>
    <a routerLink="/locations"><div class="menu-item">Aqui va un menu</div></a>
    <a routerLink="/locations"><div class="menu-item">Aqui va un menu</div></a>



  </nav>



  <section class="container">
    Aqui va el Outlet
    <router-outlet></router-outlet>
  </section>

</div>


